@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
li {
	list-style: none
}
a {
	text-decoration: none;
	color: #6D6C6C;
}
/* フォント */
body {
	font-family: "ヒラギノ丸ゴ ProN W4", YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	color: #6d6c6c;
}
/* 全体のコンテナー設定 */
#container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 65px;
}

/* ヘッダー全体の設定 */
#blog-title {
	padding: 40px 0 30px;
	text-align: center;
}
/* ロゴの大きさ */
#title img {
	width: 600px;
}
/* タイトル説明の設定 */
#blog-caption {
	font-size: 16px;
	letter-spacing: 2px;
	margin-top: 10px;
}
/* タイトル説明前後z＊の設定 */
.fas-laugh {
	color: #FFA01E;
	font-size: 12px;
	padding: 0 3px;
}

/* メニューボックスの設定 */
#menu-box {
	width: 100%;
	margin: 0 auto;
}
/* メニューリスト全体の設定 */
#menu {
	width: 100%;
	text-align: center;
	border-top: solid 1px #A8C442;
	border-bottom: solid 1px #A8C442;
	background: #fff;
}
/* リスト最後の右ボーダーを隠す */
#menu ul li:last-child {
	border-right: solid 0;
}

/* メニューリストをflexboxで横並びにする */
.flax-list {
	display: flex;
}
/* リストの詳細設定 */
.flax-list li {
	flex: auto;
	border-right: dashed 1px #A8C442;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 16px;
	height: 38px;
	padding: 1px 20px 0;
	transition: all 0.5s;
}
/* リストの英語部分色とサイズ替え */
.flax-list span {
	color: #648C46;
	font-size: 11px;
}
/* リンク部分のホバー設定 */
.menu-btn:hover {
	background: #F9F4B4;
}

/* メイン設定 */
#slide-wrapper {
	text-align: center;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
/* スライド設定 */
.slides {
	position: relative; /* スライド画像を相対的位置にする */
	margin-top: 30px
}
/* チェンジボタンの体裁設定 */
.change-btn-wrapper {
	text-align: center;
	color: #C0C0C0;
	width: 700px;
	height: 50px;
	font-size: 40px;
	position: absolute; /* ボタンを絶対的位置にする */
	top: 410px; left: 0;
	right: 0; bottom: 0;
	margin: 0 auto;
}
/* チェンジボタンの位置設定 */
.change-btn-wrapper::after {
	content: "";
	clear: both;
	display: block;
}
.prev-btn {
	cursor: pointer;
	float: left;
	display: none;
}
.next-btn {
	cursor: pointer;
	float: right;
}
.change-btn:hover {
	color: #7D7C7C;
}

/* スライド画像の表示設定 */
.slide {
	display: none; /* 全てのスライドを非表示にしてから */
}
.active {
	display: block; /* activeクラスが付いたスライドのみ表示 */
}

/* インデックスボタンの設定 */
.index-btn-wrapper {
	width: 600px;
	font-size: 12px;
	margin: 10px auto 20px;
}
.index-btn {
	display: inline-block; /* ボタンを横並びに */
	color: #ccc;
	padding: 0 8px; /* ボタンの間隔 */
}
.index-btn:hover {
	color: #7D7C7C;
}
/* 挨拶文 */
.start-letter {
	font-size: 13px;
	letter-spacing: 1.5px;
	line-height: 26px;
	width: 80%;
	margin: 0 auto 35px;
}

/* イベント見出し */
#event-wrapper h2 {
	width: 100%;
	font-size: 18px;
	letter-spacing: 2px;
	padding-bottom: 5px;
	margin-bottom: 13px;
	border-bottom-style: dotted;
	border-color: #FFA01E;
}
#event-wrapper i {
	color: #FFA01E;
}

/* イベント部分カコミ */
.items {
	display: flex; /* カコミ横並び */
	width: 100%;
	max-width: 1140px;
	margin-bottom: 20px;
}
.items a {
	flex: auto; /* 親要素の幅に合わせる */
	width: 25%; /* 4等分 */
}
.items a:hover {
	opacity: 0.5;
}
/* カコミの体裁 */
.item {
  box-shadow: 2px 2px 5px rgba(180,180,180,1.00);
	float: left;
	padding: 15px;
	margin: 7px 20px 20px 0;
}
.item:nth-child(4n) {
	margin-right: 0; /* 4つ目の右側のマージン */
}
/* カコミの画像設定 */
.item-img img {
	text-align: center; /* センターにして */
	width: 100%; /* 幅を100％に */
	border-radius: 10px;
	padding-bottom: 5px;
}

.date {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #648C46;
}
.copy {
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 2px;
}

#newinfo {
	padding-left: 15px;
}
#newinfo dt {
	float: left;
	width: 150px;
	padding-top: 2px;
}
#newinfo dd {
	font-size: 14px;
	padding-left: 150px;
	margin-bottom: 50px;
}

#footer {
	text-align: center;
	background-color: #F6D570;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 35px;
	width: 100%;
	height: 35px;
}














	
	
	
	
	
